<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Payment
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content> 
          <ion-item>
            <ion-label>Pay:</ion-label>
            <ion-input>flashlight</ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Total:</ion-label>
            <ion-input>24.99</ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Currency:</ion-label>
          <ion-select id="multiple" multiple="true">
            <ion-select-option value="bird">USDC</ion-select-option>
            <ion-select-option value="cat">BTC</ion-select-option>
          </ion-select>
          </ion-item>
          <ion-button color="primary" href="http://54.158.74.97/paid.html?order=9088&paid=true"> Pay </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
      <ion-router-link href="https://www.bbva.mx/personas/productos/tarjetas-de-credito/mi-primera-tarjeta.html">Mi primera tarjeta BBVA</ion-router-link>
